@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
}

<section class="container">
    <p>I am currently an Information Systems core student at BYU. Some of my technological interests include frontend and backend web development, mobile app development, and data science.</p>
    <p>Last summer and fall, I had the opportunity to intern for Triathlon Batteries, creating their online battery selector tool. Working with both frontend and backend, I programmed the website to query from a database, display on the webpage, and then be saved in a PDF and sent as a quote. During this project, I learned how to use the Vue.js framework combined with PHP.</p>
    <p>Other experiences include working at BYU as a web developer for housing. During my time there, I wrote Tableau reports on conference housing and made code improvements on the website. The website development experience gave my experience in the ASP.net framework.</p>
    <p>Currently I work for the Office of Research Computing creating website tools to aid system administration of the supercomputer and provide UI/visualization tools. Relevant skills at this job include Linux, command line, Git, Docker, PHP, JavaScript, and HTML/CSS.</p>
    <p>Since joining the Information Systems program, I have learned how to create a full web application using Python/Django and MySQL/PostgreSQL database and Node.js applications using Knex and SQLite. I am also currently learning how to build applications using C#/ASP.net.</p>
    <p>As a hobby, I also enjoy playing musical instruments, singing, and hiking. I am president of the BYU a cappella group Riff-Dish.</p>
</section>