@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Matt Perry";
}

<div class="hero-image">
    <img src="img/provo_overlook.jpg" />
</div>
<section class="container">

    <p>Matt loves doing IS-related things. This is why he is in the BYU IS Core and he took this class. He would have taken this class even if he wasn't in the IS core if he could have.</p>
    <p>He also loves spending time with his wife. They like to travel and go on hikes.</p>
    <img src="img/st_george.jpg" />
    <p>
        I am hoping to get an understanding in IS 413 of what it means to build an Enterprise-sized app. I want to be able to know the small details, good things, and bad things about ASP.net.
        I am mostly just really excited to be programming and making applications in a really cool class.
    </p>
    <p>The top three jobs I would like to get when I graduate are:</p>
    <ul>
        <li>Frontend Development</li>
        <li>Full-stack Development</li>
        <li>Python Machine Learning</li>
    </ul>
</section>
